@charset "utf-8";
.showsheader {
	font-size: 36px;
	font-weight: bold;
	color: #FFFFFF;
}
.shows {
	font-size: 22px;
	font-weight: bold;
	color: #FFFFFF;
}
.copyright {
	font-size: 12px;
	color: #FF0000;
}
