.bodyIMG {
background-size: cover;
}

.socials {
height: 65px;
margin-left: 1%;
}

.whiteBG {
	background-color: white;
}

.aboutHeader {
	font-size: 32px;
	font-weight: bold;
	color: white;
	text-align:center;
	background-color: rgb(228, 125, 7);
}

.mainHeader {
	font-size: 32px;
	font-weight: bold;
	color: white;
	text-align:center;
	background-color: rgb(228, 125, 7);
}

.mediaHeader {
	font-size: 32px;
	font-weight: bold;
	color:white;
	text-align:center;
}

.showstext {
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	color: black;
	text-align: center;
	background-color: white;
}

.showsHeader {
	font-family: "Times New Roman", Times, serif;
	font-size: 28px;
	font-weight: bold;
	color: darkred;
	text-align: center;
}

.aboutText {
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	color:black;
	text-align: left;
	margin-top:1%;
}

.aboutImg {
	margin-top: 8%;
	width: 90%;
}

.videoimg {
	background-position: center;
	margin-top: 4%;
}

.contactImg {
	margin-left: 31%;
	margin-bottom: 5%;
}

.contactText {
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	color:black;
	text-align: center;

}

.cards {
	font-family: "Times New Roman", Times, serif;
	font-size: 15px;
}

.galleryIMG {
margin-top: 5%;
background-color: black;
}