.mediaBG {
background-size: cover;
background-position: center; /* This centers the image within the container */
background-repeat: no-repeat; /* Prevents the image from repeating */
}

.socials {
height: 65px;
margin-left: 1%;
}

.Header {
	font-size: 32px;
	font-weight: bold;
	color:red;
	text-align:center;
}

.showstext {
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	color: black;
	text-align: center;
}


.aboutText {
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	color:black;
	text-align: left;
	margin-top:1%;
}

.aboutImg {
	margin-top: 8%;
	width: 90%;
}

.videoimg {
	background-position: center;
	margin-top: 4%;
}



